.button {
  display: inline-flex;
  padding: 20px 47px;
  border-radius: 0 20px;
  border: none;
  text-decoration: none;
  color: #fdfdfd;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  &:active {
    opacity: 0.6;
  }
}

.button--theme-warning {
  background-color: #fa9f42;

  &:hover,
  &:focus {
    background-color: #faba42;
  }
}

.button--theme-success {
  background-color: #10b582;
  padding: 20px 38px;

  &:hover,
  &:focus {
    background-color: #0add9a;
  }
}
