.format {
  padding: 56px 0 120px;
}

.format__image-block {
  margin-top: 94px;
  justify-self: start;
}

.format__image-block--justify-end {
  justify-self: end;
}

.format__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
