.site-navigation {
  padding: 40px 0 20px;
  color: #353a5a;
}

.site-navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation__link {
  text-decoration: none;
  padding: 4px 0;
  margin: 3px 20.7px;
  color: inherit;
}

.site-navigation__link--current {
  border-bottom: 2px dashed #fa9f42;
}

.site-navigation__link[href] {
  &:hover,
  &:focus {
    color: #fa9f42;
  }

  &:active {
    color: #fa9f42;
    opacity: 0.9;
  }
}
